.send-msg-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  max-height: 10vh;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

form {
  margin: 8px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #607d8b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  color: white;
  letter-spacing: 0.55rem;
}

send-btn {
  width: 32px;
  height: 32px;
}

.sign-out {
  height: 32px;
  margin-right: 8px;
}

input {
  border: none;
}

section {
  overflow-y: scroll;
  height: 80vh;
}

body {
  max-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.msg {
  display: flex;
}

.sender {
  justify-content: flex-end;
}

.msg-body {
  padding: 4px 8px;
  max-width: 50vw;
  background: #e91e63;
  border-radius: 35px;
  color: white;
  font-size: 18px;
}

.msg-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.msg-time-details {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  font-size: 14px;
}

.receiver {
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.msg-avatar-holder {
  align-self: flex-end;
  margin: 0 8px 8px 8px;
  height: 30px;
  width: 30px;
}
.msg-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
